
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #D8F1A0;
    color: #3A0CA3;
}

main {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
}

.header img {
  width: 60px;
}

.art-left, .art-right {
    width: 100%;
    min-width: 180px;
    height: 120px;
    border: 2px solid #7209B7;
    background-image: url("images/candies.png");
    background-size: cover;
    background-position: center;
}


.logo-box {
    width: 100px;
    height: 100px;
    background: #F7B1AB;
    border: 3px solid #3A0CA3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-box img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #3A0CA3;
    font-weight: bold;
}

.hero {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

hr {
    width: 80%;
    margin: auto;
}

main {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.sidebar {
    padding: 15px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 15px;
}

.search {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.search input {
    flex: 1;
    padding: 8px;
}

.list-title {
    border: 2px solid #7209B7;
    background-color: #F7B1AB;
    padding-top: 10px;
}

.idea-list {
    border: 2px solid #7209B7;
    height: 550px;
    overflow-y: auto;
    list-style: none;
    padding-left: 10px;
    background-color: #F7B1AB;
    overflow-y: scroll;
}

.idea-list li {
    padding: 6px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.wheel-container {
    text-align:center;
    margin:40px auto;
}

#wheel {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
    width:300px;
    height:300px;
    border-radius:50%;
    border:2px solid #7209B7;
    margin:auto;
    overflow:hidden;
background:conic-gradient(
#ff0040 0deg 60deg,
#ffffff 60deg 120deg,
#ff0040 120deg 180deg,
#ffffff 180deg 240deg,
#ff0040 240deg 300deg,
#ffffff 300deg 360deg
    );
    transition:transform 4s ease-out;
}

#checklist {
    background:#F7B1AB;
    border:2px solid #7209B7;
    padding:10px;
    display:flex;
    flex-direction:column;
    max-height:250px;
    overflow-y:auto;
}

.slice {
    position:absolute;
    width:50%;
    height:50%;
    transform-origin:100% 100%;
    left:0;
    top:0;
    font-weight:bold;
}

#spinBtn {
    margin-top:30px;
    padding:12px 30px;
    background:#D8F1A0;
    border:2px solid #7209B7;
    cursor:pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #807182;
    border: 2px solid #7209B7;
}

footer button {
    padding: 10px 20px;
}

@media screen and (max-width: 900px) {

    body {
        overflow-x: hidden;
    }

    header {
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }

    .art-left, .art-right {
        width: 100%;
        max-width: 250px;
        height: 120px;
    }

    header h1 {
        font-size: 2rem;
        line-height: 1;
    }

    .header img {
        width: 45px;
    }

    .hero, hr {
        width: 95%;
    }

    main {
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: 15px;
        padding: 15px;
        margin: 0 auto;
    }

    .sidebar {
        width: auto;
        padding: 0;
    }

    .search input {
        width: 100%;
    }

    .idea-list {
        height: 250px;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    footer button {
        width: 200px;
    }
}
@media screen and (max-width: 600px) {

    main {
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 10px;
        padding: 10px;
    }

    title {
      font-size: 20px;
    }

    .header {
      display: flex;
      height: 30px;
    }

    .sidebar {
        padding: 0;
    }

    .list-title h2 {
        font-size: 14px;
    }

    .idea-list {
        height: 300px;
        font-size: 12px;
    }

    .search {
        gap: 5px;
    }

    .search button {
        padding: 5px;
    }
}