.center {
  align-content: center;
  width: 470px;
  margin: 0 auto;
}

div {
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  outline: 1px solid black;
}

h1, h5 {
  text-align: center;
  text-decoration: none;
}

h1 {
  letter-spacing: 1.5px;
}

h5 {
  color: #598ed4;
  letter-spacing: 2px;
  line-height: 30px;
}

img {
  width: 110px;
  align-content: center;
  display: block;
  margin: 0 auto;
}